:root {
  --white: #fff;

  --grey-50: #f9fafb;
  --grey-200: #eaecf0;
  --grey-300: #d0d5dd;
  --grey-500: #667085;
  --grey-700: #344054;
  --grey-950: #0c111d;

  --purple: #812cf0;
  --blue-light: #e8f3fe;
  --blue-dark: #0171eb;
  --green-dark: #099d5f;
  --red-dark: #d70048;

  --success-dark: var(--green-dark);
  --info-light: var(--blue-light);
  --accent-color: var(--purple);
  --background-color: var(--grey-50);
  --chart-line: var(--blue-dark);

  --font-family-sans: Inter system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  --font-color-primary: var(--grey-950);
  --font-color-secondary: var(--grey-700);
  --font-color-tertiary: var(--grey-500);

  --background-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
}

body {
  background: var(--background-color);
  color: var(--font-color-primary);
  padding: 2rem;
  accent-color: var(--accent-color);
}
body,
input,
button,
select,
option {
  font-family: var(--font-family-sans);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 700;
}

h1,
h2 {
  line-height: 2rem;
}
