.dates {
  display: flex;
  gap: 0.5rem;
  input {
    height: calc(var(--input-height) + 2px);
    line-height: var(--input-height);
    border: 1px solid var(--grey-300);
    border-radius: 4px;
    padding-inline: 0.5rem;
  }
}
